
		p{
			color:#black;
			font-size: 60px;
			font-family: Oswald; 
			margin: 6%;
			padding: 0;
			box-sizing: border-box;

		}
		 h1{
		 	color: red;
		 	font-size: 64px;
		 	text-align: center;
		 }
		 a{
		 	font-size: 60px;
		 }
	img{
		max-width: 70%;
		height: auto;
		display: block;
		width: 1000px;
		height: 600px;

	}
	div{
		width: 80%;
		margin: auto;
		background-color: white;
		box-shadow: 5 0 20px 52px;
	}
